/node_modules/
/lib/
/dist/
/docs/
.idea/*

.DS_Store
coverage
*.log

bin
.tmp
go

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# temporary files
.tmp


# Libre Calc
.~lock.*#

# Build files
dist
publish

# Mystery files I haven't yet gone through and don't want cluttering up the codebase
.misc